
*
{
  margin: 0;
  padding: 0;
}

body
{
  background-color: white;
}
.container_banner
{
  width: 100%;
}
.container_image
{
  width: 100%;
  height: 300px;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.card_style
{
  position:absolute;
  top: -200px;
  left: calc(50% - 400px);
  max-width: 800px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.header-title
{
  font-size: 25px;
  font-weight: 600;
}
.item_list
{
  margin-top: 20px;
}
.btn
{
  margin-left: 10px;
}
.show
{
  display: block;
}
.hide
{
  display: none;
}
.complete
{
  text-decoration: line-through;
}
.nocomplete
{
  text-decoration: none;
}